*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 10px 0;
    color: brown;
}
.box{
    width: 650px;
    height: 650px;
    background-color: rgb(21, 121, 41);
    margin: 10px auto;
    border: 30px solid rgb(2, 96, 18);
}
.boxmain{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(225, 243, 155);
}
.boxcream{
    width: calc(100% / 8);
    height: calc(100% / 8);
    background-color: rgb(225, 243, 155);
    float: left;
    padding: 5px;
} 
.boxgreen{
    width: calc(100% / 8);
    height: calc(100% / 8);
    background-color: rgb(21, 121, 41);
    float: left;
    padding: 5px;
} 
img{
    width: 100%;
    height: 100%;
    size: cover;
} 